<!DOCTYPE html>
<html>
<head>
  <title>ExamPrep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <!-- Header -->
  <div class="header">
    <%= render ""%>
  </div>

  <!-- Content -->
  <div class="content">
    <%= yield %>
  </div>
  <!-- Footer -->
  <div class="footer">
    <%= render ""%>
  </div>
</body>
</html>
