<!DOCTYPE html>
<html>
<head>
  <title>ExamPrep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
  <!-- Header -->
  <div class="header">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= render "/layouts/header" %>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= render "/layouts/footer" %>
      </div>
    </div>
  </div>
  
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
</body>
</html>
